<html>
<body>
	<h1>Blog details</h1>

	<p>Title: {{blog.title}}</p>
	<p>Text: {{blog.text}}</p>
	
	<h2>Comments</h2>
	{{#blog.comments}}
		<div>
			<b>{{author}}</b>: {{message}}
			<form action="/blogs/{{blog.id}}/comments/{{id}}/delete" method="post" style="display: inline;">
				<input type='submit' value='Delete comment'/>
			</form>
		</div>
		<br>
		
	{{/blog.comments}}

	{{^blog.comments}}
	<p>No comments yet.</p>
	{{/blog.comments}}

	<form action="/blogs/{{blog.id}}/comments/new" method="post" style="background-color: #c2c2c2; width: 200px; padding: 10px;">
		<p>Author: <input type='text' name='author'/></p>
		<p>Message: <input type='text' name='message'/></p>
		<input type='submit' value='Add comment'/>
	</form>

	<form action="/blogs/{{blog.id}}/delete" method="post">
		<input type='submit' value='Delete blog'/>
	</form>
	
	<br>
	
	<a href="/">Back</a>
</body>
</html>